<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Link</title>
</head>
<body>
<div th:fragment="goLink">
		<a th:href="@{/go/ex01}">ex01</a><br>
		<a th:href="@{/go/ex02}">ex02(List)</a><br>
		<a th:href="@{/go/inline}">ex03(inline)</a><br>
		<a th:href="@{/go/ex04}">ex04(Timeformat)</a><br>
		<a th:href="@{/go/layout01}">Layout01_Include(insert,replace)</a><br>
		<a th:href="@{/go/layout02}">Layout02_Param(target)</a><br>
		<a th:href="@{/go/template01}">Layout1_(Template)</a><br><br>
		<a th:href="@{/go/content}">Bootstrap_(content)</a><br>
</div>
</body>
</html>