<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ThymeLeaf Start</title>
</head>
<body>
		<a th:href="@{/go/ex01}">ex01</a><br>
		<a th:href="@{/go/ex02}">ex02(List)</a><br>
		<a th:href="@{/go/inline}">ex03(inline)</a><br>
		<a th:href="@{/go/ex04}">ex04(Timeformat)</a><br>
		
<h1 th:text="타임리프-스타트" ></h1>
<!-- <h1 th:text="[[${'Thymeleaf_Start'}]]" ></h1> -->
<h1>[[Thymeleaf]]</h1>
<h1>[['Thymeleaf']]</h1>
<h1>[[${'Thymeleaf'}]]</h1>
<hr>

</body>
</html>